/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, h1, h2, h3, h4 {
  font-family: "Sawarabi Gothic"; }

.header-title {
  padding: 10px;
  cursor: pointer;
  width: 90%;
  margin: 0px auto;
  position: relative; }

.nav-bar-contents:hover .drop-down, .overlay {
  opacity: 1;
  display: block;
  transition: all 0.2s ease-in-out; }

.nav-bar {
  top: 0px;
  width: 100%;
  height: 50px;
  margin: 0px auto;
  padding: 5px; }

a {
  text-decoration: none;
  color: #DFE4D4; }

.nav-bar-contents {
  position: relative;
  width: 100%;
  margin: 0px auto; }

.drop-down {
  background-color: #1f1d25;
  top: 60px;
  left: 0px;
  font-weight: 100;
  z-index: 2;
  width: 100%;
  display: none;
  position: absolute;
  opacity: 0;
  margin: 0px auto; }
  .drop-down .drop-down-container {
    width: 90%;
    margin: 0px auto; }
    .drop-down .drop-down-container div {
      padding: 10px; }

.drop-down > div {
  padding: 5px; }

.drop-down .nav {
  font-size: 22px;
  color: #DFE4D4; }

.nav-bar h1 {
  font-size: 45px;
  color: #DFE4D4; }

.footer {
  bottom: 0px;
  transform: translateX(-50%);
  left: 50%;
  width: 90%;
  position: absolute;
  display: flex;
  justify-content: space-between; }

.share {
  float: left; }

.share h3 {
  font-size: 45px;
  color: #000000; }

.contact h3 {
  font-size: 45px;
  color: #000000; }

.contact {
  float: right; }

.page-background {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%; }

.page-background img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%; }

.about {
  background-color: #a24938; }
  .about .drop-down {
    background-color: rgba(25, 25, 25, 0.5); }

.about-row {
  display: table;
  width: 100%;
  text-align: center;
  height: 100px;
  padding-top: 100px;
  padding-bottom: 100px; }
  .about-row h1 {
    font-size: 45px;
    color: #DFE4D4; }

.tycho-profile {
  position: relative;
  display: inline-block;
  margin-bottom: 100px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%); }

.hexagon {
  width: 100px;
  height: 55px;
  background: #212027;
  transform: rotate(90deg);
  margin: 150px auto;
  position: relative; }
  .hexagon:before, .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0; }
  .hexagon:before {
    left: 0;
    top: -1300px;
    border-left: 1000px solid transparent;
    border-bottom: 1000px solid #212027; }
  .hexagon:after {
    bottom: -25px;
    left: 0;
    top: 400px;
    border-left: 1000px solid transparent;
    border-top: 1000px solid #212027; }

.content-block {
  position: relative;
  display: block; }

.triangle-left {
  display: inline;
  width: 0;
  height: 0;
  float: left;
  overflow: hidden;
  border-bottom: 500px solid #212027;
  border-left: 500px solid transparent; }

.triangle-right {
  display: inline;
  float: right;
  width: 400px;
  overflow: hidden;
  height: 0;
  border-bottom: 500px solid #212027;
  border-right: 500px solid transparent; }

.triangle-right-2 {
  width: 0;
  height: 0;
  border-top: 500px solid #a24938;
  border-left: 500px solid transparent;
  right: 0px;
  position: absolute;
  z-index: 1000; }

.triangle-left-2 {
  left: 0px;
  width: 0;
  height: 0;
  border-top: 500px solid #a24938;
  border-right: 500px solid transparent;
  position: absolute;
  z-index: 1000; }

.content-block-2 {
  position: relative;
  display: table;
  width: 100%;
  background-color: #212027;
  height: 1800px; }
  .content-block-2 .content {
    padding-top: 30px;
    width: 600px;
    margin: 0px auto;
    z-index: 10000;
    height: 400px;
    font-size: 26px;
    color: rgba(224, 228, 219, 0.7);
    line-height: 50px; }

.para-image {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px; }

.para-image span {
  line-height: 40px !important;
  margin-left: 20px; }
  .para-image span ul {
    margin-left: 50px;
    list-style-type: disc; }

.para-image img {
  vertical-align: middle;
  width: 200px;
  margin-right: 15px;
  float: left; }

.discography {
  background-color: #1f1d25;
  color: rgba(224, 228, 219, 0.85);
  font-weight: 100; }

.discography-title {
  text-align: center;
  padding: 40px; }
  .discography-title h1 {
    font-size: 50px;
    color: #DFE4D4; }

.album-container {
  padding: 40px; }

.album {
  background-color: black;
  display: flex;
  justify-content: space-around;
  font-size: 28px; }
  .album .duration {
    font-style: italic; }
  .album ul {
    list-style-type: decimal; }
  .album li {
    padding: 5px; }
  .album > div {
    padding: 40px; }
  .album .album-art-container {
    text-align: center; }
  .album img {
    width: 500px; }

.beige {
  display: table;
  width: 100%;
  height: 70px;
  background-color: rgba(224, 228, 219, 0.85); }

.red {
  display: table;
  width: 100%;
  height: 70px;
  background-color: #ad3b2f; }

.blue {
  display: table;
  width: 100%;
  height: 70px;
  background-color: #4690aa; }

.tour-dates {
  background-color: #1f1d25;
  color: rgba(224, 228, 219, 0.85);
  font-weight: 100; }

.tour-dates-title {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center; }
  .tour-dates-title h1 {
    font-size: 48px; }

.orange {
  display: table;
  width: 100%;
  height: 70px;
  background-color: #ad482f; }

.yellow {
  display: table;
  width: 100%;
  height: 70px;
  background-color: #b58f3f; }

.stone {
  display: table;
  width: 100%;
  height: 70px;
  background-color: #e0e4d5; }

.tour-dates-container {
  padding: 20px;
  font-size: 22px; }
  .tour-dates-container > div {
    margin-bottom: 50px; }

.tour-date {
  background-color: black;
  padding: 40px;
  display: flex;
  justify-content: space-between; }
  .tour-date .tour-info > div {
    margin-bottom: 15px; }
  .tour-date .tour-buttons {
    margin-left: 150px; }

.date {
  font-style: bold;
  font-weight: 900; }

.location {
  font-weight: 900;
  font-size: 25px; }

.rsvp {
  outline: none;
  border: 0px;
  padding: 10px;
  color: black;
  font-size: 24px;
  background-color: #e0e4d5;
  padding-left: 25px;
  min-width: 200px;
  padding-right: 25px; }

.ticket {
  outline: none;
  border: 1px solid #e0e4d5;
  min-width: 200px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 24px;
  background-color: black;
  color: #e0e4d5; }

.tour-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center; }

.media {
  background-color: #1f1d25;
  color: rgba(224, 228, 219, 0.85);
  font-weight: 100; }

.media-title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }
  .media-title h1 {
    font-size: 48px; }

.media-container {
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-around; }
  .media-container > div {
    display: inline-block; }

.small-player-container > div {
  padding-bottom: 50px; }

.art-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 90%;
  height: 400px;
  margin: 0px auto;
  align-content: space-around; }
  .art-container .art {
    border: 5px solid rgba(224, 228, 219, 0.85);
    margin: 50px;
    float: left;
    width: 200px; }
    .art-container .art img {
      width: 200px;
      object-fit: cover;
      height: 200px;
      display: inline-block;
      text-align: center; }

/* Clear floats after the columns */
.art-container:after {
  content: "";
  display: table;
  clear: both; }

.blood-range {
  display: table;
  width: 100%;
  height: 70px;
  background-color: #be6546; }

.teal {
  display: table;
  width: 100%;
  height: 70px;
  background-color: #4b829e; }

  .merch {
    position: relative;
    background-color: #1f1d25;
    color: rgba(224, 228, 219, 0.85);
    font-weight: 100;
  }

.merch-title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px; }
  .merch-title h1 {
    font-size: 48px; }

.merch-filter-container {
  width: 80%;
  margin: 0px auto; }
  .merch-filter-container .merch-filter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-around; }
    .merch-filter-container .merch-filter button {
      outline: none;
      border: 0px;
      padding-top: 5px;
      padding-bottom: 5px;
      color: black;
      min-width: 200px;
      background-color: #e0e4d6;
      font-size: 28px; }

.merch-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 90%;
  height: 400px;
  margin: 0px auto;
  align-content: space-around; }
  .merch-container .merch {
    margin: 50px;
    float: left;
    width: 300px; }
    .merch-container .merch img {
      width: 300px;
      object-fit: cover;
      height: 300px;
      display: inline-block;
      text-align: center; }

/* Clear floats after the columns */
.art-container:after {
  content: "";
  display: table;
  clear: both; }

.navy-blue {
  display: table;
  width: 100%;
  height: 70px;
  background-color: #183f5e; }

.pink {
  display: table;
  width: 100%;
  height: 70px;
  background-color: #e19f9d; }

.light-orange {
  display: table;
  width: 100%;
  height: 70px;
  background-color: #d78964; }

  ul li {
    margin-left: 50px;
    list-style-type: disc; }

    .tour-buttons button {
      cursor: pointer;
    }
    .album-track-list li {
      list-style: decimal;
    }

   .merch-filter-container .merch-filter .highlighted {
       background-color: rgba(132, 139, 123,1);
       color: black;
     }
     .soldout {
     position: absolute;
     top: 50%;
     left: 50%;
     display: none;
     transform: translate(-50%, -50%);
     width: 80%;
     text-align: center;
     color: rgba(240,30,30,0.9);
     font-size: 24px;
     font-weight: 800;
     padding: 5px;
     letter-spacing: 4px;
     background-color: rgb(192,196,183);
   }
   .out-of-order:hover .soldout {
     display: block;
   }

   .out-of-order:hover {
     border: 5px solid red;
   }s

     .soldout span {
       font-size: 24px;
       color: red;

     }

  .tour-buttons {
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  display: block;
}

.tour-buttons > div {
  margin-bottom: 50px;
}

.tour-buttons div:last-child {
  margin-bottom: 0px;
}
